@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --lgray: #dadcdd;
  --dgray: #020202;
  --accent: #0173b9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--lgray);
  color: var(--dgray);
  margin: 0;
  padding-block: 50px;
  font-family: "open sans";
}

main {
  max-width: 800px;
  margin-inline: auto;
}
